<header>
    <nav>
        <div class="links">
           <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
           <a asp-area="" asp-controller="Home" asp-action="Products">Products</a>
           <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
           <a asp-area="" asp-controller="Account" asp-action="SignUp"><img src="~/icons/user.png"/></a>
           <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/loupe.png"/></a>
           <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/shopping-bag.png" /></a>
        </div>
    </nav>
</header>