@if (signInManager.IsSignedIn(User))
{
        <header>
            <nav>
            <p>You are signed in as: @User.Identity.Name</p>
                <div class="links">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/loupe.png" /></a>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/shopping-bag.png" /></a>
                <a asp-action="Index" asp-controller="Logout">Sign out</a>
                </div>
            </nav>
        </header>
}

else{
    <header>
        <nav>
            <div class="links">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <a asp-area="" asp-controller="Login" asp-action="Index"><img src="~/icons/user.png" /></a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/loupe.png" /></a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy"><img src="~/icons/shopping-bag.png" /></a>
                <a asp-action="Index" asp-controller="Register">Register</a>
            </div>
        </nav>
    </header>
}