@if (signInManager.IsSignedIn(User))
{
        <header>
            <nav>
            <p>You are signed in as:<a asp-controller="Account" asp-action="Index"> @User.Identity.Name</a></p>
                <div class="links">
                @if(signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                }
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    <a asp-action="Index" asp-controller="Logout">Sign out</a>
                </div>
            </nav>
        </header>
}

else{
    <header>
        <nav>
            <div class="links">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                <a asp-area="" asp-controller="Login" asp-action="Index"><img src="~/icons/user.png" /></a>
            </div>
        </nav>
    </header>
}