@model IEnumerable<ProductEntity>

<div class="product-main">
<h1>Products</h1>
    <div class="products-body"> 
    
@foreach (var item in Model)
{
    <div class="product-card">
        <div class="img-container">
            <img src="@item.ImgUrl" />
        </div>
        <div class="product-info">
            <p>@item.ProductName</p>
                <p>Price:<span> @item.Price.ToString()!.Remove(item.Price.ToString()!.Length - 2) kr</span></p>
        </div>
        <div class="read-more">
            <a asp-action="Details" asp-controller="Products" asp-route-articleNumber="@item.ArticleNumber">Read more</a>
        </div>
    </div>
        
        
}
    </div>
</div>