.contact-main {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  margin-top: 1rem;
}

.contactform {
  margin-top: 2%;
}
.contactform div {
  display: flex;
  flex-direction: column;
}
.contactform div button {
  width: 420px;
  height: 30px;
  margin: 1rem;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  border-radius: 0.4rem;
  border: none;
  transition: ease 0.2s;
}
.contactform div button:hover {
  opacity: 90%;
  background-color: dimgray;
}
.contactform div input {
  width: 400px;
  height: 22px;
}
.contactform div label {
  font-size: 16px;
  font-weight: 700;
  font-family: "Asap", sans-serif;
  padding: 0px 0px 2px 2px;
}
.contactform div input {
  height: 30px;
  width: 450px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
}
