footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: darkslategrey;
    height:90px;
    display:flex;
    justify-content:center;
    align-items:center;

    p {
        color: gray;
        font-family: 'Orbitron', sans-serif;
    }
}
