form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-main button {
  background-color: white;
  width: 120px;
  height: 30px;
}
.login-main .pass {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.login-main .username {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.login-main input {
  width: 440px;
  height: 25px;
  border-radius: 2px;
  border: none;
  margin: 5px 0px;
  padding: 0.2rem;
}
.login-main label {
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
}
