.product-main {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:1rem;
    h1{
        font-size:40px;
    }

    .products-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        margin:1.5rem;
        span {
            font-style: oblique;
        }

        .read-more {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 100%;
            background-color: orange;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            transition: ease .3s;

            a {
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-weight: 700;
                text-decoration: none;
                transition: ease .2s;
            }

            &:hover {
                text-decoration: underline;
            }

            &:hover {
                background-color: grey;
            }
        }


        .product-info {
            padding: .5rem;
            max-width: 100%;
            max-height: 100%;
        }

        .img-container {
            padding: 1rem .5rem .5rem .5rem;
            max-width: 60%;
            max-height: 60%;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 280px;
            height: 360px;
            background-color: white;
            border-radius: .5rem;
            margin:1rem;
          p {
                font-size: 15px;
                font-weight: 900;
            }
        }
    }
}
