
.signup-main {
    display: flex;
    flex-direction: column;
    align-items: center;


    a {
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        font-size: 20px;
    }

    .form-container {
        display: flex;
        flex-direction: row;
    }

    .personal {
        h1 {
            font-size: 20px;
        }

        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-right: 1px solid #a3b18a;
    }

    .security {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .address {
        h1 {
            font-size: 20px;
        }

        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    h1 {
        margin-bottom: 20px;
        margin-top: 1rem;
    }

    form {
        padding: 2rem;
        border-radius: .40rem;

        div {
            margin: .25rem;
            display: flex;
            flex-direction: column;
        }

        input {
            width: 440px;
            height: 25px;
            border-radius: 2px;
            border: none;
            margin: 5px 0px;
            padding: .20rem;
        }

        label {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-weight: 700;
        }

        button {
            width: 420px;
            height: 30px;
            margin: 1rem;
            border-radius: .40rem;
            border: none;
            transition: ease .2s;
            font-family: 'Asap', sans-serif;

            &:hover {
                opacity: 90%;
                background-color: dimgray;
            }
        }
    }
}
