@model ContactFormVM

@{
    ViewData["Title"] = "Contact";
}
<div class="contact-main">
    <h1>Contact us</h1>
    <p>Please use the form to contact us and we will come back to you asap!</p>
<form method="post" class="contactform">
    <div>
        <label asp-for="FirstName">First name</label>
        <input asp-for="FirstName" />
        <small><span asp-validation-for="FirstName"></span></small>

    </div>
    <div>
        <label asp-for="LastName">Last name</label>
        <input asp-for="LastName" />
        <small><span asp-validation-for="LastName"></span></small>

    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <small><span asp-validation-for="Email"></span></small>

    </div>
    <div>
        <label asp-for="Message">Message</label>
        <input asp-for="Message" />
        <small><span asp-validation-for="Message"></span></small>
        <div>
            <button type="submit">Send</button>
        </div>
    </div>

</form>
</div>