@{
    ViewData["Title"] = "Home Page";
   
}

<main class="index-main">    
    <section>
        <h1></h1>
    </section>
    
    <section class="featured"> 
        <partial name="~/Views/Partials/_Featured.cshtml" />
    </section>
</main>

