@{
    ViewData["Title"] = "Home Page";
}

<main class="index-main">    
    <section>
        <h1>Welcome to ShopLifter</h1>
    </section>
    <section>
        <p>Featured</p>
    </section>
</main>

